.SwapPage {
  height: 100%;
  min-height: 100vh;
  padding-top: 82px;
  background: rgb(196, 249, 255);

  .coinSwap {
    text-align: center;
    position: relative;
    margin-top: 100px;
    margin-bottom: 200px;
    .input{
      width: 600px;
      display: flex;
      margin: 20px auto;
    }
    .steps {
      position: absolute;
      left: 50%;
      width: 400px;
      margin-left: -120px;
    }
    .buttonList {
      width: 280px;
      display: flex;
      justify-content: space-between;
      margin: 0 auto;
      margin-top: 100px;
    }
  }
}