.friendList
  height: 234px;
  overflow: hidden;
  overflow-y: scroll;
  .item
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin-top: 10px;
      margin-bottom: 10px;
      .item-left
          display: flex;
          align-items: center;
          justify-content: flex-start;
      .item-icon
          width: 60px;
          height: 60px;
          background: #FFFFFF;
          border-radius: 50%;
          margin-right: 10px;
      .item-info
          text-align: left;
          .address
              display: flex;
              align-items: center;
      .message
          margin-right: 10px;

.ant-popconfirm
    width:300px;
          