.logo-wrapper
    margin: auto;
    width: 360px;
    height: 192px;
    // background: #019BF0;
    position: fixed;
    top: 0;
    left: 0;
    overflow: hidden;

.logo-wrapper .point-wrapper {
    position: absolute;
}

.logo-wrapper .point {
    border-radius: 100%;
}

.logo-wrapper .right-side
    width: 150px;
    height: 150px;
    position: absolute;
    right: 0;
    top: 0;
    bottom: 0;
    left: 0;
    margin: 20px 0 0 150px;

.logo-wrapper .right-side *
    pointer-events: none;