.messageTab
    height: 192px;
    overflow: hidden;
    overflow-y: scroll;
    .item
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 10px;
        margin-left: 16px;
        margin-right: 16px;
        padding: 16px 0;
        border-bottom: 1px solid #f3f3f3;
        .item-left
            display: flex;
            align-items: center;
            justify-content: flex-start;
        .item-icon
            width: 60px;
            height: 60px;
            background: #FFFFFF;
            border-radius: 50%;
            margin-right: 10px;
        .item-info
            text-align: left;
            .address
                display: flex;
                align-items: center;
        .message
            margin-right: 10px;
            